data/*/*
img/*/*
mask_result/*/*
masks/*/*
pics/*

pytorch-UNet/result/*
pytorch-UNet/params/*
pytorch-UNet/train_image/*
pytorch-UNet/data/*/*

U2_Netp/results/*
U2_Netp/saved_models/u2netp/*

panorama6.xls
*.json
*.png
*.jpg
*.pth
*.txt
__pycache__
.idea


#
#
#data/*/*
#img/*/*
#mask_result/*/*
#masks/*/*
#pics/*
#
#!data/*/.getkeep
#!img/*/.getkeep
#!mask_result/*/.getkeep
#!masks/*/.getkeep
#!pics/.getkeep
#
#pytorch-UNet/result/*
#pytorch-UNet/params/*
#pytorch-UNet/train_image/*
#pytorch-UNet/data/*/*
#
#!pytorch-UNet/result/.getkeep
#!pytorch-UNet/params/.getkeep
#!pytorch-UNet/train_image/.getkeep
#!pytorch-UNet/data/*/.getkeep
#
#U2_Netp/results/*
#U2_Netp/saved_models/u2netp/*
#
#!U2_Netp/results/.getkeep
#!U2_Netp/saved_models/u2netp/.getkeep
#
#panorama6.xls
#
#__pycache__
#.idea

#!.getkeep

