data/*/*
img/*/*
mask_result/*/*
masks/*/*
pics/*

pytorch-UNet/result/*
pytorch-UNet/params/*
pytorch-UNet/train_image/*
pytorch-UNet/data/*/*

U2-Netp-main/results/*
U2-Netp-main/saved_models/u2netp/*

panorama6.xls

__pycache__
.idea

!.getkeep

